<template>
  <div class="image">
    <div class="image__item" v-for="img in validImageList" :key="img.id">
      <img :src="img.urls.small" alt />
      <span class="image__item__info">{{img.alt_description}}</span>
      <div class="image__item__user">
        <span class="image__item__user__name">{{img.user.name}}</span>
        <span class="image__item__user__likes">
          <img src="@/assets/like.png" alt />
          {{img.likes}}
        </span>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
export default {
  name: "Image",
  computed: mapGetters(["validImageList"]),
  methods: mapActions(["fetchImg"]),
  async mounted() {
    this.fetchImg();
    console.log(this.$store.state.imgList);
  }
};
</script>

<style lang="scss">
.image {
  width: 400px;
  margin: 20px auto;
  &__item {
    width: 100%;
    display: flex;
    flex-direction: column;
    //padding: 10px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.15);
    margin-bottom: 40px;
    transition: all ease 0.3s;
    &:hover {
      transform: scale(1.1);
    }
    &__info {
      padding: 10px;
    }
    &__user {
      margin: 20px 0;
      display: flex;
      padding: 0 10px;
      justify-content: space-between;
      align-items: center;
      &__name {
        color: #959999;
        font-size: 12px;
      }
      &__likes {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          margin-right: 5px;
        }
      }
    }
  }
}
</style>