<template>
  <div class="list">
    <div class="list__item" v-for="post in validPosts" :key="post.id">
      <img :src="post.thumbnailUrl" alt />
      <span>{{post.title}}</span>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
export default {
  name: "List",
  computed: mapGetters(["validPosts"]),
  methods: mapActions(["fetchList"]),
  async mounted() {
    this.fetchList(10);
  }
};
</script>
<style lang="scss">
.list {
  margin: 20px auto;
  width: 70%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  &__item {
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.15);
    width: 40%;
    margin-bottom: 40px;
    padding: 15px 20px;
    border-radius: 5px;
    transition: all ease 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    img{
        border-radius: 50%;
        margin-bottom: 15px;
    }
    &:hover {
      transform: scale(1.1);
    }
  }
}
</style>