<template>
  <header>
    <ul class="menu">
      <li>
        <router-link to="/">List</router-link>
      </li>
      <li>
        <router-link to="/gallery">Gallery</router-link>
      </li>
    </ul>
  </header>
</template>

<script>
export default {
  name: "Menu"
};
</script>

<style  lang="scss">
header {
  width: 100%;
  padding: 20px 0;
}
.menu {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  list-style-type: none;
  li {
    font-size: 36px;

    border: 1px solid #000;
    transition: all ease 0.3s;
    a {
      text-decoration: none;
      color: #000;
      display: flex;
      width:100%;
      height: 100%;
          padding: 5px 15px;
    }
    &:hover{
        background: #000;
        a{
            color: #fff;
        }
    }
  }
}
</style>
