<template>
  <div id="app">
    <Header />
    <router-view />
    <footer>
      <span>I am not good at webpack, but i really want to teach something new and increase my skill levels =)</span>
    </footer>
  </div>
</template>


<script>
import Header from "@/components/Header.vue";
export default {
  name: "app",
  components: {
    Header
  }
};
</script>

<style lang="scss">
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
footer{
  text-align: center;
  padding: 10px;
}
</style>
